
.errorFeed {
    float: right;
    right: 0;
    top: 100px;
    width: 300px;
    position: fixed;
}

.errorFeed ul {
    list-style: none;
}

.errorFeed-row {
    background-color: #fbfbfb;
    margin: 0 0 10px 0;
    display: flex;
}

.errorFeed-message{
    display: inline-block;
    padding: 10px 20px;
    word-wrap: break-word;
    width: 250px;
    font-size: small;
}

.errorFeed-time{
    font-weight: bold;
}

.errorFeed-dismiss{
    display: inline-block;
    background: #D0360F;
    color: white;
    width: 21px;
    cursor: pointer;
    text-align: center;
}